html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

#name {
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
}

.objective, .mission, .philosophy{
    min-height: 260px;
}

.objective > .mdl-card__title {
  color: #fff;
  background:
    url('../img/objective.jpg') no-repeat #46B6AC;
}

.mission > .mdl-card__title {
  color: #fff;
  background:
    url('../img/mission.jpg') no-repeat #46B6AC;
}

.philosophy > .mdl-card__title {
  color: #fff;
  background:
    url('../img/philosophy.jpg') no-repeat #46B6AC;
}

.demo-card-wide.mdl-card {
  width: 800px;
  margin-bottom: 10px;
}

.logo {
    width: 100px;
    min-height: 100px;
}

.github.logo.mdl-card {
  background: url('../img/github-logo.png') no-repeat;
}

.ng2.logo.mdl-card {
  background: url('../img/ng2-logo.png') no-repeat;
}

.mdl.logo.mdl-card {
  background: url('../img/mdl-logo.png') no-repeat;
}

.webpack.logo.mdl-card {
  background: url('../img/webpack-logo.png') no-repeat;
}

.npm.logo.mdl-card {
  background: url('../img/npm-logo.png') no-repeat;
}

.json-rest.logo.mdl-card {
  background: url('../img/json-rest-logo.png') no-repeat;
}

.node.logo.mdl-card {
  background: url('../img/node-logo.jpg') no-repeat;
}

.typescript.logo.mdl-card {
  background: url('../img/typescript-logo.png') no-repeat;
}

.es6.logo.mdl-card {
  background: url('../img/es6-logo.png') no-repeat;
}

.html5.logo.mdl-card {
  background: url('../img/html5-logo.png') no-repeat;
}

.logo .material-icons {
    position: absolute;
    top: 78px;
    left: 74px;    
}
