<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <img src="https://github.com/google/material-design-lite/blob/master/templates/dashboard/images/user.jpg" class="demo-avatar">
    <div class="demo-avatar-dropdown">
            <span>sohamashodiya@gmail.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">More</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><i class="material-icons">navigation</i>Fremont, CA</li>
              <li class="mdl-menu__item"><i class="material-icons">local_phone</i>(510)471-7132</li>
            </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800" router-active>
    <a class="mdl-navigation__link" [routerLink]=" ['Home'] "><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
    <a class="mdl-navigation__link" [routerLink]=" ['Skills'] "><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">stars</i>Skills</a>
  </nav>
</div>
